@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:befor,*:after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000
}

body{
    /* 如果網站字體有中文 & 英文的話，這樣一來就不用中文 & 英文字體之間還要用<span>一個一個區分了：
    font-family: "Castoro"(英文),"微軟正黑體“(中文), serif(通用字型); */
    font-family: "Castoro", serif;
    line-height: 1.5;
    font-size: 24px;
}

.container{
    /* 根據 figma 設計稿我們可以通過 Control+G 開啟 Figma 的 Layout Grid, 
    通過計算 Layout Grid 上面的元素從左到右的總和，我們可以得知 container 需要的寬度： */
    width: 1296px;
    margin: 0 auto;
}

.banner-title{
    font-size: 128px;
    line-height: 192px;
    letter-spacing: 0.12em;
}

.banner-img{
    /* 另外一種居中的方法：
    display: block;
    margin: 0 auto; */
    text-align: center;
}

.desc{
    background: #EFEFEF;
    padding: 48px 0;
    font-size: 32px;
}

.desc p {
    width: 636px;
}

.about-item-title-80{
    color: #AE0000;
    font-size: 40px; 
    border-bottom: solid #AE0000 3px;
    margin-bottom: 16px;
    margin-top: 80px;
}

.about-item-title-40{
    color: #AE0000;
    font-size: 40px; 
    border-bottom: solid #AE0000 3px;
    margin-bottom: 16px;
    margin-top: 40px;
}

.about-item-year{
    color: #949494;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}

.footer{
    background: #000;
    margin-top: 160px;
}

.social-list{
    text-align: center;
    padding: 64px;
}

.social-list li{
    display: inline-block;
}

.text-right{
    text-align: right;
}

.w-50{
    width: 50%;
}

.ml-auto{
    margin-left: auto;
}

.mb-2{
    margin-bottom: 8px;
}

.mb-3{
    margin-bottom: 12px;
}

.mb-4{
    margin-bottom: 16px;
}

.mr-10{
    margin-left: 40px;
}
